body {
  font-family: 'Courier New', Courier, monospace; /* Font más "hacker" */
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
}

header, main, footer {
  max-width: 800px;
  margin: auto; /* Centra el contenido */
}

header {
  padding: 1em;
  text-align: center;
  background-color: transparent; /* Quita el fondo */
}


#search-box {
  margin: 1em auto;  /* Centra la barra de búsqueda */
  max-width: 300px;
  text-align: center; /* Alineación de texto al centro */
}

#search-box input {
  padding: 0.5em;
  width: 100%;
  border: 1px solid #555;
  border-radius: 4px;
}

main {
  padding: 1em;
}

.script-card {
  background-color: #222222;
  padding: 1em;
  margin: 1em 0;
  border-radius: 8px;
}

.script-card h3 {
  cursor: pointer;
}

.script-card > *:not(h3) {
  display: none;
}

.script-card.active > *:not(h3) {
  display: block;
}

footer {
  padding: 1em;
  text-align: center;
  background-color: transparent; /* Quita el fondo */
}
